html {
  font-size: 10px;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: #EEE;
}

#header{
  margin-top: -15px;
  padding: 8px;
  background-color: #FFF;
  text-align: center;
  border-bottom: 1px solid #CCC;
}

#boxes {
  display: flex;
  flex: 1;
  height: 30vh;
  align-items: center;
  justify-content: center;
}

.box {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .09s ease;
  width: 10rem;
  height: 5rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

button{
  width: 8rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #FFF;
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#buttons-Wrapper{

}

.correct {
  transform: scale(1.1);
  border-color: green;
  box-shadow: 0 0 1rem green;
}

.wrong {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 1rem red;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
